{% extends 'base.html.twig' %}

{% block title %}CMS{% endblock %}

{% block body %}
    <div class="contentHome">
        <img src={{ asset('assets/images/logo.png') }} alt="SmartFood" class="logoHome">
        <p class="titleHome">Donde encontrarás la frescura de la huerta a solo unos pasos de tu hogar, porque cuidar de tu salud es nuestra prioridad.</p>
    </div>    
{% endblock %}
