<form method="post" action="{{ path('app_products_delete', {'id': product.id}) }}" onsubmit="return confirm('Estás segur@ que quieres eliminar este producto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Eliminar</button>
</form>
