{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="actionsForm">
        <button class="btn btn-add"><i class="fa-solid fa-floppy-disk me-2"></i> {{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
