{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <div class="content">
        <div class="actionsForm backBtn">
            <a href="{{ path('app_products_index') }}" class="btn btn-add"><i class="fa-solid fa-arrow-left me-2"></i> Volver a la lista</a>
        </div>
        <h1 class="titleSection"><i class="fa-regular fa-pen-to-square me-2"></i>Editar Producto</h1>
        {{ include('products/_form.html.twig', {'button_label': 'Guardar'}) }}
        <div class="actionsForm">
            {{ include('products/_delete_form.html.twig') }}
        </div>
    </div>    
{% endblock %}
