{% extends 'base.html.twig' %}

{% block title %}New Privacy{% endblock %}

{% block body %}
    <h1>Create new Privacy</h1>

    {{ include('privacy/_form.html.twig') }}

    <a href="{{ path('app_privacy_index') }}">back to list</a>
{% endblock %}
