{% extends 'base.html.twig' %}

{% block title %}Edit Faqs{% endblock %}

{% block body %}
    <h1>Edit Faqs</h1>

    {{ include('faqs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_faqs_index') }}">back to list</a>

    {{ include('faqs/_delete_form.html.twig') }}
{% endblock %}
